* {
  margin: 0;
  padding: 0;
};

body {
  padding-top: 7.875%;
  font-size: 100%;
};

.row:after,
.row:before {
  content: '';
  display: table;
};

.row:after {
  clear: both;
};

/*colores*/
$color_gravel: #494948;
$color_flush_orange: #ff8400;
$color_cape: #3b4044;
$color_pearl: #e6e1d8;
$color_white: #f7f2e9;
$p_size: 20px;

.first-container {
  p{
    font-size: $p_size;
    text-align: center;
  }
}
/*general*/
.header {
    background-color: $color_gravel;
    height: 7.125em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
};
.footer {
    background-color: $color_gravel;
    height: 6.1em;
};
.wrapper {
    max-width: 60em;
    /*960/16*/
    margin: 0 auto;
};
.container {
    margin-bottom: 0.75em;
    /*12/16*/
};
/*border mix*/
@mixin solid-border-fr($px) {
  border-style: solid;
  border-width: $px;
  border-color: $color_flush_orange;
}
@mixin solid-border-second($px) {
  border-style: solid;
  border-width: $px;
  border-color: $color_gravel;
}
/*all boxes*/
.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
    height: 11.9em;
    margin-top: 1em;
    float: left;
};

/*grid system*/
@for $y from 1 through 3 {
    .box1:nth-child(#{$y}) {
        background:$color_flush_orange;
    };
};
@for $i from 1 through 3 {
    .box2:nth-child(#{$i}) {
        background:$color_cape;
    };
};
@for $z from 1 through 3 {
    .box3:nth-child(#{$z}) {
        background:$color_gravel;
    };
};
@for $q from 1 through 2 {
    .box4:nth-child(#{$q}) {
        background:$color_pearl;
    };
};

/*grid details*/
.first-container #col-one{
    width: 16%;
};
.second-container #col-two{
	width: 32%;
}
.third-container #col-th {
	width: 24%;
}
.fourth-container #col-f {
	width: 46.2%;
	padding: 0.900%;
	height: 3em;
}
.solid-border-color-1 {
  @include solid-border-fr(0.6em);
}
.solid-border-color-2{
  @include solid-border-second(0.6em);
}
